html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }


nav,
footer {
    font-family: 'Playfair Display', serif;
}

/* header */
header {
    background-color: pink;

    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
.catpeaking-box {
    width: 200px;
    height: 153px;
   
    position: absolute;
    left: 170px;
    top: -72px;
} 

.cat-peaking {
    max-width: 200px;
    mix-blend-mode: multiply;
    opacity: 0%;
} 
.appear {
    opacity: 100%;
    transition: 2s;
}

/* NAV */
nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    padding: 10px;
    list-style: none;
   
}

a {
    text-decoration: none;
    color: black;
}

li:hover {
    transform: scale(1.1);
}

/* shopping cart image */
.cart-img {
    max-width: 40px;
    max-height: 40px;
    margin: 10px;
}

.cart-img:hover {
    transform: scale(1.1);
}




/* BODY */
body {
    background-color: rgb(237, 214, 231);
    font-size: 18px;
}

.main-wrapper {
    width: 90%;
    margin: 0 auto;
}

/* PRODUCT CARDS */
.product-card-wrapper {
    width: 100%;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    text-align: center;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.product-card div img {
    border-radius: 5px;
}

.product-text {
    margin: 5px;
    margin-top: 0px;
    /* border: 1px solid red; */
}

/* ADD TO CART BUTTON */
.cart-button {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

.product-card:hover {
    transform: scale(1.05);
    border: 1px solid grey;
}


/* Article section */
.article-one {
    display: flex;

    width: 70%;
    margin: 20px auto;
}

.scared-cat {
    max-width: 300px;

}



/* Footer */
footer {
    text-align: center;
    position: relative;
}

/* Modal Styles */

.modal {
	background-color: white;
    width: 70%;
    
    z-index: 2;
    min-height: 250px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
	/* Style the transparent overlay */
    position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* This makes a 50% transparent black background color */
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
	z-index: 1;
}

/* modal */
/* Utility Classes */
.hidden {
	display: none;
}

.btn-open {
	/* Style the button */
    border-radius: 20px;
    padding: 5px 10px;

}


/* MOBILE HAMBURGER MENU */
.material-symbols-outlined {
    display: none;
    padding: 10px;
}

@media (max-width: 600px){
    /* MOBILE HAMBURGER MENU */
    .material-symbols-outlined {
        display: block;
        cursor: pointer;
       
    }

    /* NAV */
    
    .nav-menu {
        background-color: white;
        width: 40%;
        border-radius: 5px;
        text-align: center;

        flex-direction: column;
        align-items: center;
        padding-left: 10px;

        transition: 0.5s;

        position: fixed;
        left: 100%;
        top: 70px;
        
        /* left: 50px; */
        padding-right: 10px;
       
    }

    
    .nav-menu.active {
        left: 55%;
    }

    li {
        width: 110px;
    }
  
    /* TEXT */
    h2,
    p {
        text-align: center;
    }
    
    /* PRODUCT CARDS */
    .product-card {
        max-width: fit-content;
    }

    .product-card:hover {
        transform: none;
        
    }

    /* ARTICLE SECTION */
    .article-one {
        flex-direction: column;
        align-items: center;
    }


}